.todo {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    min-height: 100vh;
    color: white;

    .welcome {
        color: #7f5af0;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;

    }

}